@font-face {
  font-family: 'cmsmasters-demo-icons';
  src:  url('fonts/cmsmasters-demo-icons.eot?8be8xm');
  src:  url('fonts/cmsmasters-demo-icons.eot?8be8xm#iefix') format('embedded-opentype'),
    url('fonts/cmsmasters-demo-icons.ttf?8be8xm') format('truetype'),
    url('fonts/cmsmasters-demo-icons.woff?8be8xm') format('woff'),
    url('fonts/cmsmasters-demo-icons.svg?8be8xm#cmsmasters-demo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cmsms-demo-icon-"], [class*=" cmsms-demo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cmsmasters-demo-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmsms-demo-icon-phone:before {
  content: "\e900";
}
.cmsms-demo-icon-minus:before {
  content: "\e901";
}
.cmsms-demo-icon-video:before {
  content: "\e902";
}
.cmsms-demo-icon-menu:before {
  content: "\e903";
}
.cmsms-demo-icon-arrow:before {
  content: "\e904";
}
.cmsms-demo-icon-arrow-left:before {
  content: "\e905";
}
.cmsms-demo-icon-arrow-right:before {
  content: "\e906";
}
.cmsms-demo-icon-arrow-top:before {
  content: "\e907";
}
.cmsms-demo-icon-audio:before {
  content: "\e908";
}
.cmsms-demo-icon-calendar:before {
  content: "\e909";
}
.cmsms-demo-icon-check:before {
  content: "\e90a";
}
.cmsms-demo-icon-close:before {
  content: "\e90b";
}
.cmsms-demo-icon-mail:before {
  content: "\e90c";
}
.cmsms-demo-icon-plus:before {
  content: "\e90d";
}
.cmsms-demo-icon-search:before {
  content: "\e90e";
}
.cmsms-demo-icon-star:before {
  content: "\e90f";
}
