@font-face {
    font-family: 'Abuget Local';
    src: url('Abuget.woff2') format('woff2'),
        url('Abuget.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

