/* Choose text control styles */
.elementor-control-type-choose_text .elementor-choices {
  justify-content: flex-end;
}
.elementor-control-type-choose_text .elementor-choices .elementor-choices-label {
  font-size: 10px;
  text-transform: uppercase;
  width: 50%;
  min-width: fit-content;
  min-width: -moz-fit-content;
  padding: 0 7px;
}
.elementor-control-type-choose_text.elementor-label-block .elementor-choices {
  justify-content: flex-start;
}
.elementor-control-type-choose_text.elementor-label-block .elementor-choices .elementor-choices-label {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.elementor-control-type-choose_text.elementor-label-inline > .elementor-control-content > .elementor-control-field > .elementor-control-input-wrapper {
  width: auto;
  min-width: 52%;
}

.elementor-control-type-selectize .selectize-control.plugin-drag_drop .ui-sortable > div {
  cursor: grab;
}
.elementor-control-type-selectize .selectize-control.plugin-drag_drop .ui-sortable > div.active.ui-sortable-helper {
  cursor: grabbing;
  white-space: nowrap;
}
.elementor-control-type-selectize .selectize-control.plugin-drag_drop .ui-sortable > div.ui-sortable-placeholder {
  background-color: #ffffff !important;
  box-shadow: inset 0 0 5px 5px rgba(228, 228, 228, 0.3);
}
.elementor-control-type-selectize .selectize-control.multi.plugin-drag_drop .selectize-input.has-items > div {
  height: auto !important;
}
.elementor-control-type-selectize .selectize-control.multi.plugin-drag_drop.plugin-remove_button .selectize-input.has-items > div {
  padding-right: 0 !important;
}
.elementor-control-type-selectize .selectize-control.multi .selectize-input {
  padding: 5px;
}
.elementor-control-type-selectize .selectize-control.multi .selectize-input.has-items {
  padding: 5px 0 0 5px;
}
.elementor-control-type-selectize .selectize-control.multi .selectize-input > div {
  background-color: #e4e4e4;
  color: #6d7882;
  font-size: 0.9em;
  line-height: 1.5;
  padding: 0 5px !important;
  margin: 0 5px 5px 0;
}
.elementor-control-type-selectize .selectize-control.multi .selectize-input > div .remove {
  color: #999999;
  border-bottom: 0;
  border-left: 1px solid #d5dadf;
  line-height: 1.4;
  font-weight: normal;
  width: auto;
  padding: 0 4px;
  margin-left: 4px;
  position: relative;
  vertical-align: baseline;
  border-radius: 0;
}
.elementor-control-type-selectize .selectize-control.multi .selectize-input > div .remove:hover {
  background-color: #d5dadf;
  color: #333333;
}
.elementor-control-type-selectize .selectize-input {
  border-color: #d5dadf;
  box-shadow: none;
}
.elementor-control-type-selectize .selectize-input.input-active {
  border-color: #a4afb7;
}
.elementor-control-type-selectize .selectize-input input {
  color: #6d7882;
}
.elementor-control-type-selectize .selectize-dropdown {
  background-color: #ffffff;
  border-color: #a4afb7;
  margin-top: 0;
}
.elementor-control-type-selectize .selectize-dropdown .option {
  color: #495157;
  line-height: 1;
  padding: 6px !important;
}
.elementor-control-type-selectize .selectize-dropdown .option:hover, .elementor-control-type-selectize .selectize-dropdown .option.active {
  background-color: #5897fb;
  color: #ffffff;
}
.elementor-control-type-selectize .selectize-dropdown .option .highlight {
  background-color: rgba(164, 175, 183, 0.5);
}
/*# sourceMappingURL=kits-controls.css.map */