@font-face {
    font-family: 'Barlow Condensed Local';
    src: url('BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed Local';
    src: url('BarlowCondensed-Bold.woff2') format('woff2'),
        url('BarlowCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

